<%- include('../partials/head') %>
<%- include('../partials/header') %>
<div class="navigation-bar">
<H3 class="nav__user"><%= user.name%></H3>
  <%- include('../partials/employee-buttons') %>
</div>

<div class="control-panel">
  <%- include('../partials/employee-controls') %>
</div>

<%- include('../partials/tvs-container') %>

<%- include('../partials/footer') %>
